@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    outline: 0px solid red;
}
:root {
    --bg-color: rgb(19, 19, 19);
    --color: white;
    --p-color:  rgba(177, 177, 177, 0.836);
    --light: white;
    --dark: black;
    --filter: 0%;
    --invert:  invert(100%) hue-rotate(180deg) brightness(70%) contrast(90%)
}
.switch {
    --bg-color: rgb(228, 228, 228);
    --color: black;
    --p-color:  rgb(94, 94, 94);
    --light: black;
    --dark: white;
    --filter: 100%;
    --invert:  invert(0%) hue-rotate(0%) brightness(70%) contrast(90%);
}
body {background-color: var(--bg-color);transition: 0.1s ease-out;}
.all {width: 38%;margin: 0px auto;padding: 129px 0;}
.main-el {display: flex;font-family: 'Raleway', sans-serif;}

.pin {
    position: relative;
    width: 155px;
    height: 155px;
    user-select: none;
    
}
.pin img {
    width: 155px;
    height: 155px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 100%;
    transition: 0.1s ease-in-out;
    cursor: pointer;

    object-fit: cover;
}
.pin img:hover {
    filter: grayscale(20%) brightness(60%);
    border: 1px solid rgba(250, 250, 250, 0.507);
}
.info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px 30px;
    align-items: center;
    padding: 50px 0px;
    
    width: 45%;
}
.info h2 {
    color: var(--color);
    font-weight:500;
    font-size: 28px;
}
.info p {
    color: var(--p-color);
    font-weight:200;
    font-size: 16px;
}
.social {
    display: flex;
    gap: 15px;
    position: relative;
}
.social a{
    cursor: pointer;
    user-select: none;

    filter: grayscale(100%) opacity(0.7);
    transform:translateY(0%);
    transition: 0.1s ease;
}
.social img {width: 20px;height: 20px;}
.social a:hover{filter: none;transform: translateY(-10%);}

.bio-el {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0;
    text-align: start;
    font-family: 'raleway', sans-serif;
    font-weight:300;
    font-size: 16px;
    font-optical-sizing:auto;
    font-style: normal;
}
.bio-el h1 {
    position: relative;
    top: -20px;
    color: var(--light);
    font-size: 30px;
    font-weight: 500;
    padding: 0% 0%;
}
.bio p {color: var(--p-color);}

.resume-btn{
    display: block;
    text-align: center;
    align-content: center;
    margin-top: 5%;
    background: var(--light);
    border-radius: 10px;
    width: 180px;
    height: 50px;
    transition: 0.2s ease-out;

    cursor: pointer;
    user-select: none;
}
.resume-btn a {
    color: var(--dark);
    font-size: 16px;
    font-weight: 700;

    position: relative;
    padding-right: 10%;
    text-decoration: none;
    align-content: center;
}
.resume-btn img{
    position: absolute;
    padding-top: 5px;
    align-content: center;
    width: 10px;
    height: 10px;
    filter: grayscale(var(--filter)) brightness(var(--filter));
}
.resume-btn:hover{
    transform: translateY(-10%);
    letter-spacing: 1px;
}

.projects-text {
    color: var(--p-color);
    font-family: 'raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 25px 0;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-family: 'raleway', sans-serif;
}
.project {
    position: relative;
    height: 325px;
    padding: 5px 7px;
    border: 1px dashed var(--head);
    border-radius: 20px;
}
.project::before {
    border-radius: 20px;
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
        400px circle at var(--x) var(--y),
        rgba(85, 85, 85, 0.35),
        transparent 70%);
    opacity: 0;
    transition: 0.2s;
    z-index: 0;
}
.project:hover::before {
    opacity: 1;
}
.project img {
    display: block;
    width: 350px;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
    object-fit: cover;
    object-position: 0 0;
    filter: grayscale(70%);
    transition: 1s ease-out;
    z-index: 1;

    cursor: pointer;
}
.project img:hover {
    animation: al 2s infinite ease-in-out;
    scale: 101%;
    filter: grayscale(0%);
    z-index: 1;
}
.project h1 {
    padding: 11px 10px;
    color: var(--light);
    font-size: 16px;
}
.project p {
    margin:  0 10px;
    color: var(--p-color);
    font-size: 12px;
}
.button-to-proj {
    display: block;
    position: relative;
    width: 160px;
    height: 40px;
    background: var(--light);
    border-radius: 8px;
    text-align: center;
    align-content: center;
    margin: 5% auto;

    font-family: 'raleway', sans-serif;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.button-to-proj h1 {
    color: var(--dark);
    font-size: 12px;
    font-weight: 700;
}
.button-to-proj:hover {
    transform: translateY(-10%);
    letter-spacing: 1px;
}




.lang {
    display: flex;
    position: relative;
    margin-top: 10%;
    padding: 10px;
    align-content: start;
    gap: 30px;
    border: 1px dashed var(--head);
    border-radius: 20px;

    color: var(--p-color);
    font-family: 'raleway', sans-serif;
    font-weight:600;
    font-size: 16px;
    font-optical-sizing:auto;
    font-style: normal;
}
.lang p {
    position: relative;
    text-align: start;
    align-content: center;
    left: 10px;
}
.lang img{
    width: 30px;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
    user-select: none;
    transition: 0.5s ease;
}
.lang:has(img:hover) img {
    opacity: 0.5;
    transition: 0.4s ease;
    filter: grayscale(100%);
}
.lang:has(img:hover) img:hover{
    opacity: 1;
    filter: grayscale(0%);
}

.map {
    padding-top: 20%;
    position: relative;
    text-align: center;
}
.map img {
    position: relative;
    top: 4px;
    width: 20px;
    align-content: center;
    border-radius: 10px;
}
.map h1 {
    position: relative;
    text-align: start;

    color: var(--color);
    font-family: 'raleway', sans-serif;
    font-weight:300;
    font-size: 16px;
    font-optical-sizing:auto;
    font-style: normal;
}
.map iframe{
    position:relative;
    margin: 3% auto;
    border: 2px solid gray;
    border-radius: 50px;
    width: 600px;
    height: 250px;
    filter: var(--invert);
    user-select: none;
}

@keyframes al {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0.5deg);
    }
    75% {
        transform: rotate(-0.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}