@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html {
    overflow-y: scroll;
}
:root {
    --bg-color: rgb(19, 19, 19);
    --p-color:  rgb(199, 199, 199);
    --light: white;
    --dark: black;
    --head: rgb(24, 33, 49);
    --clr-btn: 100%;
}
.switch {
    --bg-color: rgb(228, 228, 228);
    --p-color:  rgb(44, 44, 44);
    --light: black;
    --dark: white;
    --head: rgb(164, 151, 197);
    --clr-btn: 0;
}

header {
    display: flex;
    position: fixed;
    background: var(--bg-color);
    gap: 20px;
    width: 100%;
    padding: 20.5px;
    border-bottom: 1px solid var(--head);
    z-index: 1;
    font-family: 'raleway', sans-serif;

    justify-content: center;
    align-items: center;
}
header a {
    color: var(--p-color);
    font-weight:500;
    font-size: 13px;
    text-decoration: none;
    transition: 0.2s;
}
header a:hover {
    color: gray;
}
header button {
    cursor: pointer;
    background: none;
    border: none;
    z-index: 11;
    user-select: none;
}
button img {
    width: 15px;
    height: 15px;
    filter: brightness(var(--clr-btn));
    user-select: none;
}